@charset "UTF-8";

.search {
  width: 30%;
  margin: 0 auto;
  display: block;
}


input,button {
  font-size: 1.6rem;
  border-radius: 0.3rem;
}

button{
  cursor: pointer;
}

@media (max-width: 600px){

  .search {
    width: 40%;
    margin: 0 auto;
  }
  input,button {
    font-size: 0.8rem;
    border-radius: 0.3rem;
  }
  #result{
    width: 40%;
    margin: 0 auto;
  }
}
