@charset "UTF-8";
/*全体*/
body{
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
*{
  margin: 0px;
  padding: 0px
}

.wrapper{
  margin: 3rem auto;
  max-width: 1080px;
}

.search {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.search input{
  display: block;
  width: 85%;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  margin-right: 5%;
}

input{
  border: 2px solid rgb(111, 207, 245) ;
}

input:focus{
  border: 2px solid rgb(111, 207, 245) ;
}

button {
  width: 10%;
  padding: 0.1rem 0.2rem;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  font-weight: bolder;
  border: 1px solid skyblue;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: skyblue;
}


button:hover{
  cursor: pointer;
  background-color: skyblue;
  color: white;
}

.result{
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}

.result p{
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.footer{
  background-color: #b84c00;
}

@media (max-width: 600px){

  .wrapper{
    width: 420px;
  }

  .search input{
    width: 72%;
    margin-right: 8%;
  }
  
  button {
    width: 16%;
    font-size: 0.2rem;
    border-radius: 0.2rem;
  }
  .result{
    width: 80%;
    margin: 0 auto;  
  }
  
}
