@charset "UTF-8";



.search {
  width: 80%;
  margin: 0 auto;
}

.search input{
  width: 80%;
  font-size: 1.4rem;
  border-radius: 0.3rem;
}

input{
  border: 2px solid rgb(111, 207, 245) ;
}

input:focus{
  border: 2px solid rgb(111, 207, 245) ;
}

button {
  font-size: 1.2rem;
  border-radius: 0.3rem;
}

button{
  font-weight: bolder;
  border: 1px solid skyblue;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: skyblue;
}

button:hover{
  cursor: pointer;
  background-color: skyblue;
  color: white;
}

#result{
  margin: 0 auto;
  width: 1080px;
  margin-top: 2rem;
}
#result p{
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: bolder;
}

@media (max-width: 600px){

  .search {
    width: 100%;
    
  }
  .search input{
    display: block;
    width: 80%;
    font-size: 1.4rem;
    border-radius: 0.3rem;
    margin-bottom: 2rem;

  }
  
  button {
    font-size: 1.2rem;
    border-radius: 0.2rem;
  }
  #result{
    width: 448px;
    margin: 0 auto;  
  }
  
}
